.reviewContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 40px;
  gap: 20px;
}

.reviewData {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 12px rgba(21, 20, 20, 0.11);
  height: auto;
  margin: 10px 0;
}

.reviewData h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.reviewData h4,
.reviewData p {
  margin-bottom: 10px;
}

.reviewData:hover {
  background-color: rgba(224, 193, 193, 0.1);
  cursor: pointer;
}
